* {
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
}

.button-login {
  background-color: #e0245c;
  color: #dce3f3;
  width: 70vw;
  height: 5vh;
  margin: 0vw 3vw 3vw 3vw;
  font-size: 1rem;
  border-radius: 2vw;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.button-register {
  background-color: #e0245c;
  color: #dce3f3;
  width: 70vw;
  height: 5vh;
  margin: 0vw 3vw 3vw 3vw;
  font-size: 1rem;
  border-radius: 2vw;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.input-email {
  border-radius: 2vw;
  width: 70vw;
  height: 5vh;
  margin: 0vw 3vw 3vw 3vw;
}

.input-password {
  border-radius: 2vw;
  width: 70vw;
  height: 5vh;
  margin: 0vw 3vw 3vw 3vw;
}

.login-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1vw 6vw;
}

.login-logo {
  width: 200px;
  height: auto;
  padding-bottom: 4vw;
}

.login-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to right, #04042c, #041484);
  width: 100vw;
  height: 100vh;
}

.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-main{
  color:black
}

/*A PARTIR DAQUI É A EDIÇÃO DO SIDE-BAR MENU - PARA PGS EVENT, HOME E PROFILE */
.header {
  width: 100vw;
  background-color: #322F20;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #FCFCFC;
  font-size: 15px;
  font-weight: 50px;
}

.side-menu {
  background-color: #322F20;
  display: flex !important;
  flex-direction: column;
  position: fixed;
  left: 0px;
  top: -500px;
}

.toggle-side-menu {
  opacity: 0;
}

.toggle-side-menu:checked+.side-menu {
  top: 53px;
  transition: all .4s linear;
}

.header-img {
  width: 50px;
}

.header-img img {
  width: 100%;
}

.hide-mobile {
  display: none;
}

.hide-desktop {
  display: none;
}

@media only screen and (min-width: 576px) {
  .header-title {
    font-size: 30px;
  }

  .hide-mobile {
    display: block;
  }

  .hide-desktop {
    display: none;
  }

  .menu-icon {
    visibility: hidden;
  }
}
/*VAI ATÉ AQUI*/