* {
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
}

.button-login {
  background-color: #e0245c;
  color: #dce3f3;
  width: 70vw;
  height: 5vh;
  margin: 0vw 3vw 3vw 3vw;
  font-size: 1rem;
  border-radius: 2vw;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.button-register {
  background-color: #e0245c;
  color: #dce3f3;
  width: 70vw;
  height: 5vh;
  margin: 0vw 3vw 3vw 3vw;
  font-size: 1rem;
  border-radius: 2vw;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.error {
  color: #dce3f3;
}

.input-address{
  border-radius: 2vw;
  width: 70vw;
  height: 4vh;
  margin: 0vw 3vw 1vw 3vw;
  padding: 1vw;
}

.input-additionalAddress  {
  display: flex;
  flex-grow: 1;
  border-radius: 2vw;
  height: 4vh;
  margin: 0vw 3vw 1vw 3vw;
  padding: 1vw;
}

.input-CEP{
  border-radius: 2vw;
  width: 70vw;
  height: 4vh;
  margin: 0vw 3vw 1vw 3vw;
  padding: 1vw;
}

.input-city{
  display: flex;
  flex-grow: 1;
  border-radius: 2vw;
  height: 4vh;
  margin: 0vw 3vw 1vw 3vw;
  padding: 1vw;
}

.input-CNPJ{
  border-radius: 2vw;
  width: 70vw;
  height: 4vh;
  margin: 0vw 3vw 1vw 3vw;
  padding: 1vw;
}

.input-email {
  border-radius: 2vw;
  width: 70vw;
  height: 5vh;
  margin: 0vw 3vw 3vw 3vw;
  padding: 1vw;
}

.input-estate {
  border-radius: 2vw;
  margin: 0vw 3vw 1vw 3vw;
  padding: 1vw;
}

.input-name {
  border-radius: 2vw;
  width: 70vw;
  height: 4vh;
  margin: 0vw 3vw 1vw 3vw;
  padding: 1vw;
}

.input-neighborhood{
  border-radius: 2vw;
  width: 70vw;
  height: 4vh;
  margin: 0vw 3vw 1vw 3vw;
  padding: 1vw;
}

.input-number{
  border-radius: 2vw;
  height: 4vh;
  margin: 0vw 3vw 1vw 3vw;
  padding: 1vw;
  width: 10vw;
}

.input-password {
  border-radius: 2vw;
  width: 70vw;
  height: 5vh;
  margin: 0vw 3vw 3vw 3vw;
  padding: 1vw;
}

.input-phone{
  border-radius: 2vw;
  width: 70vw;
  height: 4vh;
  margin: 0vw 3vw 1vw 3vw;
  padding: 1vw;
}

.login-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
x'
}

.login-logo {
  width: 200px;
  height: auto;
  padding-bottom: 4vw;
}

.login-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to right, #04042c, #041484);
  width: 100vw;
  height: 100vh;
}

.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1vw 6vw 1vw 6vw;
  text-align: center;
}

.register-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to bottom, #2c54b3, #041484);
  height: 100vh;
  width: 100vw; 
  color: #edf1f4;
  padding: 4vw;
}

.register-double{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.register-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}